<div class="h-screen flex flex-col">
  <div class="h-20 bg-white shadow-md flex place-content-between items-center px-4">
    <div class="text-zinc-900 font-bold text-2xl">
      portfolioByMatthew
    </div>
    <div class="text-zinc-800 space-x-4 text-xl font-semibold">
      <button>
        About Me
      </button>
      <button>
        Projects
      </button>
      <button>
        Resume
      </button>
      <button>
        Contact Me
      </button>
    </div>
  </div>

  <div class="flex flex-1 place-content-center items-center">
    <div class="flex space-x-4">
      <div class="">
        <p class="text-6xl font-bold">Full Stack <span class="text-blue-900">Developer</span></p>
        <p class="text-xl">Hi! I'm matthew! I am an Angular front-end developer and elixir back-end developer</p>
      </div>
      <div>
        <img src="https://i.ibb.co/WWtd2Q5/IMG-3746.jpg" alt="IMG-3746" class="rounded-full">
      </div>
    </div>
  </div>
</div>